*{
    padding: 0;
    margin: 0;
}
.image-gallery{
    margin:0 auto;
    width:1110px;
}
.fullview{
    width:100%;
    margin-bottom:10px;
}
.fullview-image{
    width:100%;
    background-size:contain;
}
.preview{
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
li{
    width:24%;
}
.preview-image{
    width:100%
}
.opacity{
    opacity: 0.6;
}
/* .preview-image:hover{
    opacity: 0.6;
} */