.works-section{
   width:90%;
    padding: 3rem 0rem;
}
.works-blocks{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-block{
    position: relative;
    width:100%;
    height:240px;
    background-size: cover;
    overflow: hidden;
    margin-bottom:2rem;
}

.works-block-img{
    width:100%;
    height: 100%;
}

.works-btn{
    display:inline-block;
    font-family: var(--font-decoration);
    font-weight:700;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 0.8rem;
    padding: 1rem 1.2rem;
    background-color: #00917b;
    outline: none;
    cursor: pointer;
}

 figcaption{
    position: absolute;
    color:black;
    font-size:1.5rem;
    font-family: var(--text-font);
    text-transform:capitalize;
    letter-spacing: 0.2rem;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: none;
}
.work-block:hover img {
    opacity: 0.6;
}
.work-block:hover figcaption {
    display: block;
}

.work-block-hidden{
    display:none;
}
.work-block-show{
    display:block;
}